.widget{
    background: $light-blue;
    margin-bottom: $xl-size
}

.message{
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid lighten($light-blue, 10%);
}

.widget-header{
    background: $gris;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__h3{
    margin: 0,
}


