// colors
$off-black: #2c3e50;
$off-white: #bdc3c7;
$dark-blue: #425766;
$light-blue: #ffffff34;
$peter-river: #3498db;
$gris: #7f8c8d;

//typography
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;